.category-container{
  .product-description .category-type li{
    padding: 5px;
  }
}

.product-nav{
  .side-nav{
    position: fixed;
    border: 1px solid $border-primary;
    border-radius: rem-calc(5);
    box-shadow: $box-shadow-primary rem-calc(4) rem-calc(4) rem-calc(4);
    padding: rem-calc(20);
    font-family: $font2;
    max-width: rem-calc(300);
    min-width: rem-calc(275);

    p{
      margin-bottom: rem-calc(5);
      text-transform: uppercase;
    }

    li{
      list-style-type: disc;
      margin-bottom: 0;
      line-height: rem-calc(18);
      text-transform: capitalize;

      a{
        color: $font-primary;
      }
    }
  }
}

.product-nav-type{
  .product-view{
    position: fixed;
    right: 0;
    top: 30%;
    background: rgba(0,0,0,0.5);
    text-transform: uppercase;
    color: white;
    font-family: "RopaSans", sans-serif;
    font-size: 2rem;

    i{
      padding: rem-calc(10);
      float: right;

      &:hover{
        color: $bg-primary;
        background: $box-shadow-primary;
      }
    }
  }
}

.product-description{

  &.grid-view{
    li.product-list{
      width: rem-calc(250);
    }

    .product-image{
      width: 100%;
    }
  }

  &.list-view{
    li.product-list{
      width: rem-calc(500);
    }

    .product-image{
      width: 50%;
    }

    .category-name{
      top: 0;
      left: 100%;
    }
  }

  .category-type{
    margin: 0;
    text-align: center;

    li{
      position: relative;
      height: rem-calc(262);
      padding: 0;
      cursor: pointer;

      &.combined-products{
        height: auto !important;
        width: auto !important;
        padding: rem-calc(0 0 50);

        img{
          width: 100%;
        }
      }

      &.product-list{
        display: inline-flex;
        height: rem-calc(250);
        margin: auto;
        padding: rem-calc(5);
      }

      .product-image, .category-image{
        position: relative;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      .category-name{
        position: absolute;
        bottom: 0;
        font-size: rem-calc(14);
        font-family: 'Exo', sans-serif;
        background: $opacity1;
        padding: rem-calc(5);
        color: $font-secondary;
        width: 100%;
      }
    }
  }
}
