<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Spouting.in</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="spoutinginApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- <div id="bg-image-wrapper"></div> -->

    <!-- Header Starts Here-->
    <div class="header fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <div class="small-4 columns text-right header-logo-container">
          <img src="images/logo.png" alt="Spouting.in" class="header-logo">
        </div>
        <div class="small-8 columns header-menu-container">
          <section class="top-bar-section header-menu">
          <!-- Right Nav Section -->
            <ul class="right header-menu-list">
              <li class="header-menu-item active"><a href="#">Home</a></li>
              <li class="header-menu-item active"><a href="#">About Us</a></li>
              <li class="header-menu-item has-dropdown">
                <a ui-sref="products({categoryId: null, productId: null})">Products</a>
                <ul class="dropdown">
                  <li class="header-menu-sub-item has-dropdown" ng-repeat="category in global.products.category">
                    <a ui-sref="products({categoryId: category.keyword, productId: null})">{{category.name}}</a>
                    <ul class="dropdown">
                      <li class="header-menu-sub-item" ng-repeat="product in global.products[category.keyword].products">
                        <a ui-sref="products({categoryId: category.keyword, productId: null})">{{product.name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="header-menu-item active"><a href="#">Contact Us</a></li>
              <li class="header-menu-item has-dropdown">
                <a class="show-arrow">More</a>
                <ul class="dropdown">
                  <li class="header-menu-sub-item active"><a href="http://mmconsultancy.in/" target="_blank">Mmconsultancy.in</a></li>
                  <li class="header-menu-sub-item active"><a href="http://truckloader.in/" target="_blank">Truckloader.in</a></li>

                </ul>
              </li>
            </ul>
          </section>
        </div>
      </nav>
    </div>
    <!-- Header Ends Here-->

    <!-- Content Starts Here-->
    <div class="container" ui-view></div>
    <!-- Content Ends Here-->

    <!-- Footer Starts Here-->
    <div class="row footer">
      <div class="footer-container">
        <div class="small-5 columns text-left company-details">
          <!-- <div class="company-name">M.M.Consultancy Pvt. Ltd.</div> -->
          <div class="company-phone"><span class="contact-us-title">Contact Us:</span>&nbsp;+91-7272-401917, +91-99936-66903</div>
          <div class="company-address">131 Industrial Area II, A.B.Road, Dewas (MP) - 455001</div>
          <div class="company-email"><a href="mailto:spouting.in@gmail.com">spouting.in@gmail.com</a></div>
        </div>

        <div class="small-2 columns text-center company-details social-icons">
          <a href="https://www.facebook.com/mmcdewas" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://www.facebook.com/mmcdewas" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
          <a href="https://www.facebook.com/mmcdewas" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
        </div>

        <div class="small-5 columns text-right company-details">
          <div class="copyright">&copy;&nbsp; 2014 M.M.Consultancy Pvt. Ltd.</div>
          <div>Last updated: 18:45, Nov. 20, 2014</div>
          <div class="company-phone"><span class="contact-us-title">Developed by</span>&nbsp;<a href="https://mittalabhas1.github.io" target="_blank">Abhas Mittal</a><!--  &amp; <a href="https://vamshedhar.github.io" target="_blank">Vamshedhar Reddy</a> --></div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here-->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!-- <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/router.js"></script>

        <!-- Controllers -->
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <!-- endbuild -->
</body>
</html>
