/*
*   Header classes file
*   Author: vam$hi and @bhas
*/

.header{
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  z-index: 1;
  border-bottom: 1px solid $border-primary;

  .columns{
    height: 100%;
  }

  li.header-menu-item{

    &.has-dropdown a, &.active a, a{
      padding: rem-calc(0 20) !important;
    }
  }
  .top-bar{
    .header-logo-container, .header-menu-container{
      padding: 0px 100px;

      .header-logo{
        height: 100%;
      }

      .header-menu{
        .header-menu-list{
          background: transparent;

          .header-menu-item{
            background: transparent;

            a{
              font-family: 'Exo', sans-serif;
              background: transparent;
              color: #777777;
              text-transform: uppercase;
              transition: color .3s ease-out;
              -o-transition: color .3s ease-out;
              -moz-transition: color .3s ease-out;
              -webkit-transition: color .3s ease-out;

              &:hover, &.active{
                color: $primary-color;
              }
            }
          }
        }

        .dropdown{
          .header-menu-sub-item{
            background: rgba(255,255,255,0.98);
            height: 50px;

            &:hover{
              background: #EEEEEE;
            }

            a{
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}

.footer{
  position: relative;
  font-family: 'Ropa Sans', sans-serif;
  background-color: $bg-footer;
  min-height: rem-calc(150);
  text-transform: uppercase;

  .footer-container{
    height: 100%;
    width: 80%;
    margin: 50px auto;

    .company-details{
      line-height: rem-calc(20);
      color: $font-footer;
    }

    .social-icons{
      i{
        padding: rem-calc(10 20);

        &:hover{
          color: #FFFFFF;
        }
      }
    }

    .designed-by{
      position: relative;
      top: rem-calc(100);
    }

    .contact-us-title{
      color: $font-secondary;
    }

    .company-email{
      text-transform: lowercase;
    }
  }
}
