/*
 * Author: @bhas (mittalabhas1@gmail.com) and V@m$he (vamshedhar@gmail.com)
*/

.header{
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  z-index: 1;
  border-bottom: 1px solid $border-primary;

  .columns{
    height: 100%;
  }

  li.header-menu-item{

    &.has-dropdown a, &.active a, a{
      padding: rem-calc(0 20) !important;
    }

    .show-arrow::after{
      position: absolute;
      top: -4px;
      right: -15px;
      content: "\00bb";
    }
  }
  .top-bar{
    .header-logo-container, .header-menu-container{
      padding: 0px 100px;

      .header-logo{
        height: 100%;
      }

      .header-menu{
        .header-menu-list{
          background: transparent;

          .header-menu-item{
            background: transparent;

            a{
              font-family: $font2;
              background: transparent;
              color: #777777;
              text-transform: uppercase;
              transition: color .3s ease-out;
              -o-transition: color .3s ease-out;
              -moz-transition: color .3s ease-out;
              -webkit-transition: color .3s ease-out;

              &:hover, &.active{
                color: $primary-color;
              }
            }
          }
        }

        .dropdown{
          .header-menu-sub-item{
            background: rgba(255,255,255,0.98);
            height: 50px;

            &:hover{
              background: #EEEEEE;
            }

            a{
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }

  .top-bar-section .right li .dropdown{
    right: -75%;
  }
}
