/*Base Theme*/

// Background Colors
$bg-primary: #FFFFFF;
$bg-footer: #333333;

// Font Colors
$font-primary: #333333;
$font-secondary: #e5e5e5;

$box-shadow-primary: #5C5C5C;
$border-primary: #CCCCCC;

