/*
 * Author: @bhas (mittalabhas1@gmail.com) and V@m$he (vamshedhar@gmail.com)
*/

/*Base Theme*/

// Background Colors
$bg-primary: #EEF9F6;
$bg-footer: #232323;
$bg-header: lightseagreen;

// Font Colors
$font-primary: $bg-footer;
$font-secondary: #e5e5e5;
$font-footer: #4d5457;
$orange: #F44B00;
$home-color: #E2ECF0;
$header-hover: #FFFFFF;

// Borders and Shadows
$box-shadow-primary: #5C5C5C;
$border-primary: #CCCCCC;

