<div class="row state-container home-container">

  <div class="home-wrapper first-wrapper">
    <div class="wrapper-head">
      <div class="heading-name">&nbsp;</div>
      <div class="browse-all">
        <div ui-sref="products({categoryId: null, productId: null})">Browse all categories</div>
      </div>
    </div>
    <ul class="home-categories">
      <li class="slider-images">
        <div class="img-container" ng-repeat="image in slides" ng-hide="!isCurrentSlideIndex($index)" ng-animate="slider">
            <img ng-src="images/{{image}}.jpg" alt="Slide">
            <a class="arrow prev" href="#" ng-click="nextSlide()"><i class="fa fa-angle-left"></i></a>
            <a class="arrow next" href="#" ng-click="prevSlide()"><i class="fa fa-angle-right"></i></a>
        </div>
      </li>
      <li ng-repeat="category in global.products.category | limitTo:6" ui-sref="products({categoryId: category.keyword, productId: null})">
        <div class="category-wrapper">
          <div class="home-category-container">
            <div class="img-container">
              <img ng-src="images/category/{{category.keyword}}.jpg" alt="{{category.name}}">
            </div>
            <div class="category-name-container">{{category.name}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="home-wrapper">
    <div class="wrapper-head">
      <div class="heading-name">Spouting Showcase</div>
      <div class="browse-all">
        <div ui-sref="products({categoryId: 'spouting-and-ducting', productId: null})">More spouting showcase</div>
      </div>
    </div>
    <ul class="home-categories">
      <li ng-repeat="product in global.products['spouting-and-ducting'].products | limitTo:4" ui-sref="products({categoryId: 'spouting-and-ducting', productId: null})">
        <div class="category-wrapper">
          <div class="home-category-container">
            <div class="img-container">
              <img ng-src="images/product/spouting-and-ducting/{{product.keyword}}.jpg" alt="{{product.name}}">
            </div>
            <div class="category-name-container">{{product.name}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="home-wrapper">
    <div class="wrapper-head">
      <div class="heading-name">Perforated Sheets</div>
      <div class="browse-all">
        <div ui-sref="products({categoryId: 'perforated-sheets', productId: null})">More Perforated Sheets</div>
      </div>
    </div>
    <ul class="home-categories">
      <li ng-repeat="product in global.products['perforated-sheets'].products | limitTo:4" ui-sref="products({categoryId: 'perforated-sheets', productId: null})">
        <div class="category-wrapper">
          <div class="home-category-container">
            <div class="img-container">
              <img ng-src="images/product/perforated-sheets/{{product.keyword}}.jpg" alt="{{product.name}}">
            </div>
            <div class="category-name-container">{{product.name}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
