<section id="slide-1" class="cover-slide top-image">
  <div class="cover-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;" data-anchor-target="#slide-1">
      <div class="cover-container">
          <div class="cover-content">
            <div class="content text-center">
              <img src="images/logo2.png" alt="Spouting.in" class="main-logo">
              <hr />
              <div class="tagline">One stop milling shop</div>
            </div>
          </div>
      </div>
  </div>
</section>

<section id="slide-2" class="details-slide">
  <div class="details-bg">
    <div class="details-container">
      <div class="details-content"
  data-anchor-target=".details-content .content">
        <div class="content company-description">
          <div class="small-4 text-right columns mmc-logo">
            <img src="images/mmc-logo.png" alt="MMC Logo">
          </div>
          <div class="small-8 columns mmc-content">
            <b>M.M.Consultancy & Engineering Services</b> is one of the leading and renowned, manufacturers and fabricator of Stainless Steel and Mild Steel based items widely used in food processing like flour mills, soya bean plants and rice plants etc, with a national and international standards and quality norms via GMP norms. This range consists of <b>Screw Conveyors</b>, <b>Pipe Conveyors</b>, <b>Bucket Elevators</b>, <b>Chain Conveyors</b>, <b>Spouting</b>, <b>Ducting</b> and <b>Plant Shifters</b> etc.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="slide-3" class="cover-slide">
  <div class="cover-bg-second .second" data-center="background-position: 50% 0px;"
data-bottom-top="background-position: 50% 200px;"
data-anchor-target="#slide-3">
    <div class="cover-container">
      <div class="cover-content" data-center="left: 200px; opacity: 0"
  data-top="left: 0px;"
  data-anchor-target=".cover-container .content">
        <div class="content">
          <h1>'Allo, 'Allo!</h1>
          <p>You now have</p>
          <ul>
            <li>HTML5 Boilerplate</li>
            <li>Sass</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
