<div class="small-10 small-centered columns">
  <div class="small-4 columns product-nav">
    <ul class="side-nav" role="navigation">
      <p>Our Products</p>
      <li role="menuitem" ng-repeat="category in global.products.category">
        <a ui-sref="products({categoryId: category.keyword})">{{category.name}}</a>
      </li>
     </ul>
  </div>

  <div class="small-8 columns product-description">
    <ul class="small-block-grid-3 category-type">
      <li ng-repeat="category in global.products.category" ui-sref="products({categoryId: category.keyword})">
        <img src="" alt="">
        <div class="row category-name">{{category.name}}</div>
      </li>
    </ul>
  </div>

</div>
